{% extends "base_table.html" %}
{% load static %}
{%  block head_list %}
    <script src="{% static 'producto/js/listar.js' %}"></script>
{% endblock %}


    {% block columns %}
        <th>Código De Barras</th>
        <th>Creador</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Marca</th>
        <th>Categoría</th>
        <th>Imagen</th>
        <th>Acciones</th>
    {% endblock columns %}

{% block rows %}
{% endblock rows %}

{% block javascript_list %}
{% endblock javascript_list %}
