<aside>
    <h2>Navegación</h2>
    <ul>
        {% if user.is_staff %}
        <li>
           <details class="details_inventario">
             <summary>Opciones de Inventario</summary>
             <ul>
                 <li><a href="{% url 'productos:listarProductos' %}">Inventario</a></li>
                 <li><a href="{% url 'productos:crearProductos' %}">Crear Producto</a></li>
             </ul>
           </details>
        </li>
        {% endif %}
        <li><a href="#">Ventas</a></li>
        <li><a href="#">Configuración</a></li>
        <li><a href="#">Ayuda</a></li>
        {% if user.is_superuser %}
            <li><a href="/admin/">Manejo de usuarios</a></li>
        {% endif %}
        <li><a href="{% url 'users:register' %}">Registrarse</a></li>
        <li><a href="{% url 'users:login' %}">Login</a></li>
        <li>
            <form class="logout" action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-button" aria-label="Logout Button" title="Cerrar Sesión">Cerrar Sesión</button>
            </form>
        </li>
    </ul>
</aside>