<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Base Form</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    {% block extra_head %}  <!-- Bloque para estilos adicionales -->
    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'users:login' %}">
            <img class="logo" src="https://marketplace.canva.com/EAFu-jps5Is/1/0/1600w/canva-logo-panader%C3%ADa-pan-r%C3%BAstico-textura-vintage-marr%C3%B3n-beige-2_p5CbFh3fI.jpg" alt="Logo">
        </a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Panaderia Kofken</p>
    </footer>
</body>
</html>
