{% extends "base.html" %}

{% block extra_head %}
<!-- Bloque para estilos adicionales -->
{% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/function.js' %}" defer></script>
{% endblock %}

{% block content %}
<h2 class="form_h2">{{ title }}</h2>

<form class="formulario" method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="{{ action }}">
    {{ form.as_p }}  <!-- Aquí se renderiza el formulario principal -->  
    <button type="submit" class="button_formulario">
        <i class="fas fa-plus-circle"></i> {{ title }}
    </button>
</form>

<script>
    $('form').on('submit', function(e) {
        e.preventDefault();
        // Crear un objeto FormData para enviar los datos del formulario, incluyendo archivos
        var formData = new FormData(this);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            processData: false,  // Evitar que jQuery procese los datos
            contentType: false,  // Evitar que jQuery establezca el content-type
        }).done(function(data) {
            // Si no hay error, redirigir a la lista de productos
            if (!data.hasOwnProperty('error')) {
                window.location.href = '{{ list_url }}';  // Redirige a la URL de la lista de productos
                return false;
            }
            // Si hay un error, mostrarlo
            alertError(data.error); // Asegúrate de que esta función esté definida
        }).fail(function(jqXHR, textStatus, errorThrown) {
            // En caso de fallo en la solicitud AJAX
            alert(textStatus + ':' + errorThrown);
        }).always(function() {
            // Código que se ejecuta siempre (puedes usarlo para limpiar formularios o mostrar mensajes)
        });
    });
</script>

{% endblock %}
